<!-- Heading Row -->
<div class="row align-items-center my-5">
  <div class="col-lg-7">
    <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/branco.png" alt="">
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-5">
    <div style="display: flex;flex-direction: column;">
      <div class="fontbanner" style="flex: 1;">
        Seu Sofá
      </div>
      <div class="fontelimpo" style="flex: 1;">
        Limpo 
      </div>
      <div class="fontbanner" style="flex: 1;">
        Como novo
      </div>
    </div>
    <p>Lavagem de estofados em geral </p>
    <a aria-label="Angular on whats" target="_blank" rel="noopener" href="https://api.whatsapp.com/send?phone=555511989160222&text=Oi, vi o anuncio gostaria de marca um horário" title="whatsapp">
      <img class="img-responsive" src="assets/whatsapp-logo.png" width ="40px;"height="40px;" margin="5px;">Fale Conosco
    </a>
  </div>
   <!-- Content Row -->

   <div class="row">
    <div class="col-md-2 mb-5">
   
    </div>
    <div class="col-md-3 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Sofá Retrátil 2 e 3 Lugares</h2>
          <p class="card-subtitle mb-2 fontpreco" >R$199,99</p>
          <p class="card-text">* Elimina até 99% das bacterias</p>
          <p class="card-text">* Remoção de manchas e odores</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">Solicitar Orçamento</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Colchão Solteiro</h2>
          <p class="card-subtitle mb-2 fontpreco">R$99,99</p>
          <p class="card-text">* Elimina até 99% das bacterias</p>
          <p class="card-text">* Remoção de manchas e odores</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">Solicitar Orçamento</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-3 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Colchão Casal</h2>
          <p class="card-subtitle mb-2 fontpreco">R$149,99</p>
          <p class="card-text">* Elimina até 99% das bacterias</p>
          <p class="card-text">* Remoção de manchas e odores</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm">Solicitar Orçamento</a>
        </div>
      </div>
    </div>

    <div class="col-md-1 mb-5">
   
    </div>
  </div>
  <!-- /.row -->

</div>
  <!-- /.col-md-4 -->
