<div class="row align-items-center my-2"style="background-color: #dfe6e9;">
  
  </div>

<div class="row align-items-center my-5"style="background-color: #dfe6e9;">
  <div class="col-lg-7">
    <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/procedimento.png" alt="">
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-5" >
    <div style="display: flex;flex-direction:column;">
      <div style="flex: 1;">
        <p class="fontbanner">Higienização de Sofás</p>
        <P>Realizada com produto especial para limpeza de colchões.
            Não deixa manchas e remove 99,99% das bacterias além da limpeza da sujeira visivel,
            e remoção de manchas causadas pelo tempo, a limpeza é realizada dentro de uma hora e meia, 
            o tempo de secagem do sofá após a limpeza é de quatro horas.
        </P>
      </div>
    </div>
  </div>
</div>
<div class="row align-items-center my-5"style="background-color: #dfe6e9;">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/colchao.png" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5" >
      <div style="display: flex;flex-direction:column;">
        <div style="flex: 1;">
            <p class="fontbanner">Higienização de Colchões</p>
            <P>Realizada com produto especial para limpeza do estofado.
                Não deixa manchas e remove 99,99% das bacterias e ácaros além da limpeza da sujeira visivel,
                e remoção de manchas causadas pelo tempo, a limpeza é realizada dentro de uma duas horas, 
                o tempo de secagem do sofá após a limpeza é de quatro horas.
            </P>
        </div>
      </div>
    </div>
  </div>

  

