<nav class="navbar navbar-expand-lg navbar-light  bg-light  fixed-top">
  <div class="container">
    <img class="img-responsive" src="assets/logoSofa.png" height="80px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" routerLinkActive="active">Empresa
           
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="servicos" routerLinkActive="active">Serviços</a>
        </li>
        <li class="nav-item">
         
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>